<%- include("partials/login-header") -%>

<h3>
    <i class="fas fa-users"> BeCurious </i>
</h3>

<div class="section">
    <p class="lead">
        Connect with peers from all over the world!
    </p>
</div>

<div class="divider"></div>

<div class="section">
    <a href="/auth/google" class="btn green darken-1">
        <i class="fab fa-google left"></i> Log in With Google
    </a>
</div>

<%- include("partials/login-footer") -%>