p {
  margin: 10px 0px !important;
}

.login-container {
  width: 400px;
  margin-top: 50px;
  text-align: center;
}

.sidenav {
  background-color: #bedcfa;
  background-image: linear-gradient(#bedcfa, #0278ae);
}

body {
  font-family: "Raleway", sans-serif;
}

a.brand-logo {
  font-size: 400%;
}

.nav {
  background-color: #0278ae;
}

.fa-small {
  font-size: 16px !important;
}

.fa-bars {
  font-size: 50px;
}
