<%- include("../partials/header") -%>

<h3>Ask A Question</h3>
<div class="row">
    <form action="/questions" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title">
                <label for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Have a doubt? Ask away!:</h5>
                <textarea id="body" name="body"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <label for="mode">
                    <input type="checkbox" id="mode" class="filled-in" value="anonymous" name="mode" />
                    <span>Post Anonymously</span>
                </label>
            </div>
        </div>

        <div class="row right">
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="fas fa-paper-plane right"></i>
            </button>
            <a href="/dashboard" class="btn red">Discard <i class="far fa-times-circle right"></i></a>
        </div>
    </form>
</div>

<%- include("../partials/footer") -%>